.labels{
	-fx-text-fill:  white;
	-fx-font-size: 22px;
}

.cadastro {
    -fx-font-weight: normal;
	-fx-text-fill:  white;
	-fx-font-size: 15px;
}

.aqui{
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-text-fill:  white;
	-fx-font-size: 15px;
	
}


@font-face {
    src: url('fonts/Open_Sans/static/OpenSans-LightItalic.ttf');
    font-family: 'Open Sans';
}

.titulo-helvetica {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 24px;
    -fx-text-fill: white;
}



.campo-transparente {
    -fx-background-color: transparent;     
    -fx-border-color: grey;                 
    -fx-border-width: 0 0 1px 0;              
    -fx-prompt-text-fill: #999999;             
    -fx-text-fill: white;      
	-fx-font-size: 22px;               
}


.campo-transparente:focused {
    -fx-border-color:black;                 
    -fx-border-width: 0 0 2px 0;               
}

.botao-login {
    -fx-background-radius: 20px;
    -fx-background-color: #3D3D3D;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
	-fx-cursor: hand;
	-fx-font-family: 'Open Sans';
}


.botao-login:hover {
    -fx-background-color: #424242;
}

.botao-login:pressed {
    -fx-background-color: #000000;
}


.botao-cadastro {
    -fx-background-radius: 20px;
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
	-fx-cursor: hand;
}


.botao-cadastro:hover {
    -fx-background-color: #424242;
}

.botao-cadastro:pressed {
    -fx-background-color: #000000;
}


// ====================
// Campo do Codigo de verificação
// ====================

.campo-verific {
    -fx-background-color: transparent;          
    -fx-border-color: #A0A0A0;           
    -fx-border-width: 0 0 1px 0;              
    -fx-text-fill: white;      
    -fx-font-size: 22px;    
    -fx-min-width: 300px;
    -fx-pref-width: 400px;
    -fx-max-width: 500px;
    -fx-prompt-text-fill: #C0C0C0; 
}

.campo-verific:focused {
    -fx-border-color: #FFFFFF;         
    -fx-border-width: 0 0 2px 0;               
    -fx-prompt-text-fill: #808080; 
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    font-family: 'Roboto';
}



.titulo {

	
	-fx-translate-y: -45;
    -fx-font-size: 34px;
	 -fx-text-fill: #FFFFFF;  
	-fx-font-style: italic;
}

.custom-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 16px;
}

.custom-field-box {
    -fx-background-color: #f0f0f0;
    -fx-padding: 8 12;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
}

.text-field-icon {
    -fx-opacity: 0.6;
}




